.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* BRAND -------------------------------------------------------------------------- */
.brand {
    min-height: 120px;
    max-height: 290px;
    height: calc(100% - 560px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 6px;
}

.brand__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.brand__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
/* -------------------------------------------------------------------------------- */

/* SEARCH ------------------------------------------------------------------------- */
.search {
    width: 100%;
    padding: 20px;
}

.search-wrap {
    max-width: 584px;
    margin: 0 auto;
    position: relative;
}

.search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #dfe1e5;
    height: 46px;
    padding: 0 8px 0 16px;
    border-radius: 24px;
}

.search-bar:hover {
    border-color: rgba(225, 225, 225, 0);
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.3);
}

.search-bar__item {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-bar__icon {
    font-size: 1.3rem;
    color: var(--footer-color)
}

.search-bar__voice-wrap {
    padding: 0 8px;
    position: relative;
    cursor: pointer;
}

.search-bar__voice-wrap:hover .search-bar__voice-desc {
    display: block;
}


.search-bar__voice-icon {
    width: 24px;
    height: 24px;
}

.search-bar__desc {
    position: absolute;
    top: calc(100% + 6px);
    min-width: 104px;
    background-color: var(--voice-desc-bg-color);
    color: white;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2.6rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    z-index: 1;
    box-shadow: 0 0 2px rgba(32, 33, 36, 0.5);
    display: none;
    cursor: default;
}

.search-bar__desc::before {
    content: "";
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar__input-wrap {
    flex: 1;
}

.search-bar__input {
    width: 100%;
    border: none;
    height: 34px;
    color: var(--main-font-color);
    word-wrap: break-word;
    font-size: 1.6rem;
    margin: 0px 12px;
    outline: none;
}

.search-option {
    margin-top: 18px;
}

.search-option__btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: var(--sub-font-color);
    font-size: 1.4rem;
    min-width: 54px;
    height: 36px;
    margin: 10px 4px 8px;
    padding: 0 16px;
    border-radius: 4px;
    user-select: none;
}

.search-option__btn:hover {
    cursor: pointer;
    color: var(--main-font-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------------------------- */

/* LANGUAGE ----------------------------------------------------------------------- */
.language {
    text-align: center;
    flex: 1;
    font-size: 1.3rem;
}

.language-wrap {
    margin-bottom: 24px;
}

.language__name {
    padding: 0px 3px;
}

.language__name:hover {
    text-decoration: underline;
}
/* -------------------------------------------------------------------------------- */

/* FOOTER SETTING ----------------------------------------------------------------- */
.footer-bar__setting {
    position: relative;
}


.footer-bar__setting-checkbox:checked ~ .footer-bar__setting-wrap {
    display: block;
}

.footer-bar__setting-wrap {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: white;
    border: 1px solid var(--footer-color);
    z-index: 2;
    display: none
}

.footer-bar__setting-list {
    min-width: 200px;
    list-style: none;
}  

.footer-bar__setting-link {
    display: block;
    padding: 13px 15px;
    color: var(--footer-color);
    font-size: 1.4rem;
}

.footer-bar__setting-link:hover {
    text-decoration: underline;
}

.footer-bar__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bar__theme:hover {
    text-decoration: none;
}

.footer-bar__theme:hover p {
    text-decoration: underline;
}

.footer-bar__theme:hover .footer-bar__theme-icon {
    display: block;
}

.footer-bar__theme-icon {
    font-size: 2rem;
    margin-right: 2px;
    color: var(--footer-color);   
    display: none;
}

/* -------------------------------------------------------------------------------- */

@keyframes descAppear {
    0% {
        opacity: 0;
    }   
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}